.jumbotron {
  background-color: #00a2ff;
  color: #e8f4fd;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 20px 30px 20px 30px;
  background-color: #00a2ff;
  color: #e8f4fd;
  margin-top: 10px;
  margin-bottom: 0px;
}

html {
  min-height: 100%;
  position: relative;
}

.card-super {
  flex: 1 300px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.btn-ver {
  width: 100%;
  border-radius: 0;
  color: #e8f4fd;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
