$blancoBonito: #e8f4ff;
$azul: rgb(0, 162, 255);

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $azul;
  color: $blancoBonito;
  @include margenes(50px, 0px);
}

footer {
  padding: 20px 30px 20px 30px;
  background-color: $azul;
  color: $blancoBonito;
  @include margenes(10px, 0px);
}

html {
  min-height: 100%;
  position: relative;
}

.card-super {
  flex: 1 300px;
  @include margenes(15px, 0px);
}

.btn-ver {
  width: 100%;
  border-radius: 0;
  color: $blancoBonito;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
